<div class="sidebar_container">
	<% if user_signed_in? %>
		<%= link_to '新しく投稿する', new_post_path(current_user), class: "btn_new_post" %>
	<% else %>
		<%= link_to 'ログインすると投稿ができます！', new_user_session_path, class: "btn_new_post" %>
	<% end %>

	<%= link_to '世界史', posts_path, class: "btn btn-default search_btn" %>
	<%= link_to '日本史', posts_path, class: "btn btn-default search_btn" %>
	<%= link_to '地域史', posts_path, class: "btn btn-default search_btn" %>
	<%= link_to '美術ギャラリー', posts_path, class: "btn btn-default search_btn" %>
	<%= link_to '人物辞典', posts_path, class: "btn btn-default search_btn" %>
	<%= link_to '出来事辞典', posts_path, class: "btn btn-default search_btn" %>
</div>

<% if user_signed_in? && current_user.admin %>
	<%= link_to 'カテゴリーを登録する', new_category_path, class: "btn_new_post" %>
<% end %>
