<h1>Posts#new</h1>
<%= form_for(@post) do |f| %>
	<ul>
		<li>
			<%= f.label :post_name %>
			<%= f.text_field :post_name %>
		</li>
		<li>
			<%= f.label :post_image_id %>
			<%= f.attachment_field :post_image %>
		</li>
		<li>
			<%= f.label :explanation %>
			<%= f.text_area :explanation %>
		</li>
	</ul>
	<%= f.submit %>
<% end %>